<?xml version="1.0" encoding="utf-8" ?>
<SCF>
   <Service name="antifraud" id="103" maxThreadCount="50">
    <Commmunication >
      <SocketPool bufferSize="4096" minPoolSize="3" maxPoolSize="50" nagle="true" autoShrink="00:00:20" sendTimeout="00:00:10" receiveTimeout="00:00:10" waitTimeout="00:00:10" />
      <Protocol serialize="SCF" encoder="UTF-8" compressType="UnCompress" />
    </Commmunication>
    <Loadbalance>
      <Server deadTimeout="00:00:20">
		<!--<add name="antifraud1" host="192.168.11.144" port="28101" maxCurrentUser="300" />-->
		<add name="antifraud1" host="10.58.11.19" port="28101" maxCurrentUser="300" />		
      </Server>
    </Loadbalance>
  </Service>
  <!--
        All,
        Debug,
        Info,
        Notice,
        Warn,
        Error,
        Fatal,
        Off
  -->
  <Logger level="Info" type="WWW58COM.SPAT.SCF.Client.Utility.Logger.UDPLogger" >
    <UDP host="192.168.9.112" port="8888"/>
    <File path="scf_log"/>
  </Logger>
</SCF>
